.App {
    display: flex;
    flex-direction: row;
    position: relative;
        height: 100vh;

    .AppContent_container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .AppSidebar_container {
        flex: 0 0 200px;

        &.Sidebar_Close {
            flex: 0 0 70px;

            .AppSidebar_Navitem {
                justify-content: center;
            }
        }
    }

    .AppHeader {
        flex: 0 1 auto;
    }

    .AppView {
        flex: 1;
    }

    .AppFooter {
        flex: 0 1 auto;
    }
}