/* 
* base: #49262D
* primary: #F4A234
* secondary: #2C7083
* tertiary: #D13B2F
*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    color: #49262D;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
